*{
    margin:0;
    padding:0;
}
html, body{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:#666;
    font-size:14px;
}
h1{
    font-size:30px;
}
h2{
    font-size:20px;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color: #888;
}


.big{
    font-size:18px !important;
}
.bold{
    font-weight:bold !important;
}

#width_container{
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    width:1030px;
}
#main{
    height:330px;
}

#name{
    margin-top:78px;
    margin-right:52px;
    float:left;
}
#name h1{
    font-size:30px;
}

.square{
    background:#888;
    margin-left: 20px;
    float:left;
    height:200px;
    width:200px;
    -webkit-transition: background .7s, -webkit-border-radius .7s, -webkit-transform .7s, height .7s, width .7s;
    -moz-transition: background .7s, -moz-border-radius .7s, -moz-transform .7s, height .7s, width .7s;
    -o-transition: background .7s, border-radius .7s, -moz-transform .7s, height .7s, width .7s;
    transition: background .7s, border-radius .7s, transform .7s, height .7s, width .7s;
    text-align:center;
}
.square:hover{
    height:300px;
    width:300px;
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
    -ms-transform:rotate(-360deg);
}
.square .content{
    opacity:0;
    font-size:.1px;
    -webkit-transition: opacity .5s, font-size .7s ease;
    -moz-transition: opacity .5s, font-size .7s ease;
    -o-transition: opacity .5s, font-size .7s ease;
    -ms-transition: opacity .5s, font-size .7s ease;
}
.square:hover .content{
    opacity:1;
    font-size:14px;
}
.square h1{
    margin-top:75px;
    -webkit-transition: margin-top .1s;
    -moz-transition: margin-top .1s;
    -o-transition: margin-top .1s;
    -ms-transition: margin-top .1s;
}
.square:hover h1{
    margin-top:12px;
    margin-bottom:8px;
}
.square a, .square span, .square p, .square h1, .square h2, .square h3, .square li{
    color:#fff;
    text-shadow: 1px 1px 0px #666;
}
.square a:hover{
    color:#DDD;
}
.square a, .square span, .square p{
    font-size:16px;
}
.square p, .square h2, .square li{
    -webkit-transition: height .1s;
    -moz-transition: height .1s;
    -o-transition: height .1s;
    -ms-transition: height .1s;
}
.square p{
    height:2px;
} 
.square h2{
     height:15px;
}
.square li{
    height:5px;
}
.square:hover p, .square:hover li{
    height:20px;
}
.square:hover h2{
    height:24px;
}

#work_tagline{
    margin-bottom:8px;
}
#past_employers{
    margin-top:12px;
}
#resume{
    margin-top:8px; 
}

#classes h2{
    margin-top:40px;
}
#classes ul{
    margin-top:5px;
    list-style:none;
}


#play_h2{
    margin-top:14px;
}
#play_bottom{
    margin-top:20px;
}


#footer{
    text-align:right;
}
#footer p{
    margin-bottom:5px;
}
#footer p, #footer a{
    font-size:13px;
}

/* Social Icons */
#icons{
    margin-top:11px;
}
.social{
    background: url("social.png") no-repeat top left;
    opacity:.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    width:32px;
    height:32px;
    display:inline-block;
    -webkit-transition: opacity .2s, background-image .2s;
    -moz-transition: opacity .2s, background-image .2s;
    -o-transition: opacity .2s, background-image .2s;
    -ms-transition: opacity .2s, background-image .2s;
}
.social:hover{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
#facebook_icon:hover{ background-position: 0 0; width: 32px; height: 32px; } 
#facebook_icon{ background-position: 0 -82px; width: 32px; height: 32px; } 
#google_plus_icon:hover{ background-position: 0 -164px; width: 32px; height: 32px; } 
#google_plus_icon{ background-position: 0 -246px; width: 32px; height: 32px; } 
#linkedin_icon:hover{ background-position: 0 -328px; width: 32px; height: 32px; } 
#linkedin_icon{ background-position: 0 -410px; width: 32px; height: 32px; } 
#twitter_icon:hover{ background-position: 0 -492px; width: 32px; height: 32px; } 
#twitter_icon{ background-position: 0 -574px; width: 32px; height: 32px; } 
