*{
    margin:0;
    padding:0;
}
html, body{
    font-family: 'Ubuntu Condensed', sans-serif;
    color:#666;
}
h1{
    font-size:30px;
}
h2{
    font-size:20px;
}
.small {
    font-size:14px;
}
.big{
    font-size:18px;
}
a{
    color:#666;
    text-decoration:none;
}
a, span, p{
    font-size:16px;
}
#c{
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    width:1075px;
}
#m{
    height:330px;
}
#w{
    margin-top:78px;
    margin-right:20px;
    float:left;
}
#w #name{
    font-size:30px;
    font-family:'Satisfy', cursive;
}
#d1{
    background:#FA573C;
}
#d2{
    background:#29829C;
}
#d3{
    background:#98DB34;
}
#d1 a:hover{
    color:#F7DDD9;
}
#d2 a:hover{
    color:#B5D9E2;
}
#d3 a:hover{
    color:#E4F4CB;
}
.c, .c p, .c a, .c h2{
    color:white;
    text-shadow:1px 0px #AAA;
}
.c h1{
    font-family:'Satisfy', cursive;
    margin-top:75px;
    -webkit-transition: margin-top .1s;
    -moz-transition: margin-top .1s;
    -o-transition: margin-top .1s;
    -ms-transition: margin-top .1s;
}
.c:hover h1{
    margin-top:12px;
    margin-bottom:8px;
}
#ctrl{
    text-align:right;
    position:relative;
    bottom:70px;
    height:0px;
    margin-right:20px;
}
#ctrl a{
    margin-right:5px;
}
.white{
    position:relative;
    top:25px;
    padding: 10px 0px;
    color: white;  
    font-weight: bold;  
    display: inline-block;
    border-left: 20px solid transparent;
    height:0px;
    line-height:35px;
}
.gray{
    position:relative;
    top:5px;
    padding: 10px 3px;
    color: white;  
    font-weight: bold;  
    display: inline-block;
    border-right: 20px solid transparent;
    height:0px;
    line-height:35px;
}
.c{
    margin-left: 20px;
    float:left;
    height:200px;
    width:200px;
    -webkit-transition: background .7s, -webkit-border-radius .7s, -webkit-transform .7s, height .7s, width .7s;
    -moz-transition: background .7s, -moz-border-radius .7s, -moz-transform .7s, height .7s, width .7s;
    -o-transition: background .7s, border-radius .7s, -moz-transform .7s, height .7s, width .7s;
    transition: background .7s, border-radius .7s, transform .7s, height .7s, width .7s;
    text-align:center;
}
#c:target #ctrl_2r{
    border-bottom: 20px solid #777;
}
#c:target #ctrl_2l{
    border-top: 20px solid #777;
}
#c:target #ctrl_1r{
    border-bottom: 20px solid #999;
}
#c:target #ctrl_1l{
    border-top: 20px solid #999;
}
#c:target .c{
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
#c:target .c{
    -webkit-border-radius:150px;
    -moz-border-radius:150px;
    border-radius:150px;
}
.c:hover{
    height:300px;
    width:300px;
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
    -ms-transform:rotate(-360deg);
}
.c .content{
    height:0px;
    opacity:0;
    line-height:normal;
    font-size:.1px;
    -webkit-transition: opacity .5s, font-size .7s ease;
    -moz-transition: opacity .5s, font-size .7s ease;
    -o-transition: opacity .5s, font-size .7s ease;
    -ms-transition: opacity .5s, font-size .7s ease;
}
.c .content .main{
    height:0px;
}
.c .content p{
    height:0px;
}
.c:hover .content{
    opacity:1;
    font-size:14px;
}
.c:hover .content .main{
    height:40px;
}
.c:hover .content p{
    height:20px;
}

#d1 .content h2, #d1 .content p{
    color:#FA573C;
    -webkit-transition: color .7s;
    -moz-transition: color .7s;
    -o-transition: color .7s;
    -ms-transition: color .7s;
}



#d1:hover .content h2, #d1:hover .content p{
    color:white;
}
#work_statement{
    margin-bottom:10px;
}
#past_employers{
    margin-top:13px;
}
#resume{
    margin-top:6px; 
}
#resume a{
    font-size:18px;
    font-weight:bold;
}

#classes h2{
    margin-top:9px;
}
#classes ul{
    list-style:none;
}
#classes li{
    line-height:18px;
    font-size:14px;
}
.c .content #classes{
    height:0px;
}
.c .content #classes h2{
    height:0px;
}
.c:hover .content #classes{
    height:40px;
}
.c:hover .content #classes h2{
    height:30px;
}

#play_h2{
    margin-top:12px;
    font-size:21px;
}
#play_bottom{
    margin-top:18px;
}


#footer{
    margin-right:33px;
    text-align:right;
}
#footer_line_2{
    font-size:14.5px;
    margin-bottom:10px;
}
#footer_bottom_line{
    font-size:13px;
}
#icons{
    margin-top:10px;
}
.social{
    background: url("social.png") no-repeat top left;
    opacity:.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    width:32px;
    height:32px;
    display:inline-block;
    -webkit-transition: opacity .2s, background-image .2s;
    -moz-transition: opacity .2s, background-image .2s;
    -o-transition: opacity .2s, background-image .2s;
    -ms-transition: opacity .2s, background-image .2s;
}
.social:hover{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
#facebook_icon:hover{ background-position: 0 0; width: 32px; height: 32px; } 
#facebook_icon{ background-position: 0 -82px; width: 32px; height: 32px; } 
#google_plus_icon:hover{ background-position: 0 -164px; width: 32px; height: 32px; } 
#google_plus_icon{ background-position: 0 -246px; width: 32px; height: 32px; } 
#linkedin_icon:hover{ background-position: 0 -328px; width: 32px; height: 32px; } 
#linkedin_icon{ background-position: 0 -410px; width: 32px; height: 32px; } 
#twitter_icon:hover{ background-position: 0 -492px; width: 32px; height: 32px; } 
#twitter_icon{ background-position: 0 -574px; width: 32px; height: 32px; } 